*{
    margin:0;
    padding: 0;
}
a {
    color: white;
}
.quemSomos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.card{
    margin: 20px;
    display: flex;
    
}
#produto{
    cursor:default
}

#btnCompra{
    background-color: #12C4A5;
    
    color: white;
    width: 150px;
    height:50px ;
    border: none;
    border-radius: 10px;
    position:relative;top:0
}
#btnCompra:hover{top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out}



.avaliacao{
    display: flex;
   }
  .star-icon{
    list-style-type: none;
    cursor: pointer;
    color: #d3bf06;
    font-size: 25px;/* alterar o tamanho das estrelas */
  }
  .star-icon2{
    list-style-type: none;
    cursor: pointer;
    color: #636257;
    font-size: 25px;/* alterar o tamanho das estrelas */
}
  .star-icon::before{
    content: "\2605";
  }
.star-icon2::before{
  content: "\2605";
}
.item{
    cursor: pointer;
}

.frete{
    color: black;
}
H6{
    text-decoration: line-through;
    color: #a8a7a4;
}
section{
    border-style: none;
}
.avista{
    color: black;
}

.parcelado{
    font-weight: bold;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px)
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height 500ms ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("https://skin.wtennis.com.br/frontend/wtennis/default/css/owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://skin.wtennis.com.br/frontend/wtennis/default/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}




.fa-facebook-square:before {
    content: "\f082"
}

.fa-cc-visa:before {
    content: "\f1f0"
}

.fa-cc-mastercard:before {
    content: "\f1f1"
}

.fa-cc-discover:before {
    content: "\f1f2"
}

.simplemodal-close {
    top: 5px;
    right: 5px;
    color: #333;
    width: 25px;
    height: 25px;
    display: flex;
    line-height: 0;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    text-transform: uppercase
}

#chat-button {
    color: #fff;
    width: 60px;
    right: 30px;
    bottom: 30px;
    height: 60px;
    display: none;
    z-index: 1000000;
    position: fixed;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #333276;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5)
}

#chat-button:hover {
    background-color: #1f1e60
}

#chat-button i {
    height: 28px
}

@media (min-width: 768px) {
    #chat-button {
        display:flex
    }
}

#chat {
    opacity: 0;
    right: 30px;
    bottom: 110px;
    line-height: 0;
    z-index: 100000;
    position: fixed;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5)
}

@media (max-width: 767px) {
    #chat {
        display:none
    }
}

#chat.show {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

#chat iframe {
    border: none
}

body {
    margin: 0;
    color: #525256;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 400;
    font-family: 'Lato',sans-serif
}

body.sidebar-open {
    position: fixed;
    overflow: hidden
}

body.sidebar-open::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    content: " ";
    position: fixed;
    overflow: hidden;
    background-color: rgba(51, 50, 118, 0.5)
}

.clearfix::before, .method-icons i+i {
    margin-left: 2px
}

@media (min-width: 768px) {
    .method-icons i {
        font-size:33px
    }
}

.method-icons i.fa-cc-visa {
    background: linear-gradient(to right, #131758 0%, #131758 20%, #00299b 80%, #00299b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.method-icons i.fa-cc-mastercard {
    bottom: 2px;
    height: 20px;
    color: #f0efeb;
    line-height: 0.76;
    position: relative;
    background: linear-gradient(to right, #ec041c 0%, #ec041c 40%, #f79f1a 60%, #f79f1a 100%)
}

.method-icons i.fa-cc-mastercard::after {
    left: 0;
    z-index: -1;
    width: 42px;
    height: 4px;
    content: " ";
    bottom: -4px;
    position: absolute;
    background-color: #000
}

.method-icons i.fa-cc-diners {
    color: #1b458e
}

.method-icons i.fa-cc-diners::before {
    content: "\f24c"
}

.method-icons i.fa-cc-amex {
    background: linear-gradient(130deg, #75c8f0 0%, #75c8f0 10%, #2e77bc 90%, #2e77bc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.method-icons i.fa-cc-jcb {
    background: linear-gradient(to right, #1c2a71 0%, #006bb8 33.33333333%, #702a2f 33.33333333%, #e00238 65.66666667%, #027c40 65.66666667%, #53b230 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.method-icons i.fa-cc-sorocred {
    color: #838033
}

.method-icons i.fa-cc-elo {
    color: #333
}

.method-icons .icon {
    display: inline-block;
    vertical-align: middle
}

.method-icons .icon+.icon {
    margin-left: 8px
}

.method-icons .icon.icon-ame {
    width: 35px;
    height: 26px;
    background-size: auto 26px;
    background-position: right;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/payment-sprite.png")
}

.method-icons .icon.icon-pix {
    width: 74px;
    height: 26px;
    background-size: auto 26px;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/payment-sprite.png")
}

.onestepcheckout-index-index .product-fastdelivery, .checkout-cart-index .product-fastdelivery, .catalog-product-view .product-fastdelivery, .googleproduct-product-view .product-fastdelivery {
    color: #fff;
    line-height: 1;
    padding: 4px 8px;
    font-weight: 700;
    margin-bottom: 3px;
    white-space: nowrap;
    display: inline-block;
    background-image: linear-gradient(to top, #ed1b24 0, #e67e22 100%)
}

.onestepcheckout-index-index .product-fastdelivery i, .checkout-cart-index .product-fastdelivery i, .catalog-product-view .product-fastdelivery i, .googleproduct-product-view .product-fastdelivery i {
    margin-right: 3px
}

.pagarme-overlay-16 {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://skin.wtennis.com.br/frontend/wtennis/default/images/ajax-loader-16px.gif')
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.label-destaque {
    width: 115px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.label-destaque div {
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: 700;
    align-items: center;
    letter-spacing: 0.2px;
    justify-content: center;
    text-transform: uppercase
}

.label-destaque div.top-de-linha {
    background-color: #f06500
}

.label-destaque div.lancamento {
    background-color: #333276
}

.label-destaque div.oportunidade {
    background-color: #a80607
}

.label-destaque div.pre-venda {
    background-color: #16a085
}

.iframe-video {
    padding: 0;
    height: 315px;
    display: block;
    overflow: hidden;
    position: relative
}

.iframe-video iframe {
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

.content-pix {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center
}

@media (max-width: 991px) {
    .customer-account .content-pix .pix-copia-cola {
        margin:10px 0
    }
}

.content-pix .pix-copia-cola img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.checkout-onepage-success .content-pix {
    justify-content: center
}

.content-pix>div {
    width: 100%;
    min-height: 1px;
    position: relative
}

@media (min-width: 992px) {
    .content-pix>div {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
}

.checkout-onepage-success .content-pix>div.pix-qr-code {
    padding-right: 10px
}

.customer-account .content-pix>div.pix-qr-code {
    padding-bottom: 10px
}

@media (min-width: 992px) {
    .content-pix>div.pix-qr-code {
        -ms-flex:0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }
}

.content-pix > div.pix-qr-code img {
    width: 175px;
    height: auto;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

.checkout-onepage-success .content-pix > div.pix-qr-code img {
    margin-left: auto;
    margin-right: auto
}

.customer-account .content-pix > div.pix-qr-code img {
    width: 150px
}

@media (max-width: 991px) {
    .content-pix .pix-info {
        padding-top:15px
    }
}

.customer-account .content-pix .pix-info {
    padding: 0 10px 10px
}

.content-pix .pix-info ul>li {
    display: flex;
    align-items: center
}

.content-pix .pix-info ul>li+li {
    margin-top: 10px
}

.content-pix .pix-info ul > li.step-app .icon>div {
    font-size: 28px
}

.content-pix .pix-info .icon {
    padding-right: 15px
}

.content-pix .pix-info .icon>div {
    color: #fff;
    height: 35px;
    display: flex;
    font-size: 20px;
    min-width: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #333276
}

.fa-pix {
    width: 80px;
    height: 27px;
    display: inline-block;
    background-size: 80px auto;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/logo-pix.png")
}

.checkout-onepage-success .fa-pix {
    margin-top: 10px
}

@media (max-width: 991px) {
    .checkout-onepage-success .fa-pix {
        margin-bottom:10px
    }
}

.customer-account .fa-pix {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: 40px auto;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/logo-pix-icone.png")
}

.fa-ame {
    width: 80px;
    height: 21px;
    display: inline-block;
    background-size: 80px auto;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/ame-logo.png")
}

.pix-payment-info {
    color: #888;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.5
}

.pix-payment-info p {
    margin-bottom: 8px !important
}

.pix-payment-info ul {
    list-style: circle;
    padding-left: 15px
}

.pix-payment-info ul>li {
    margin-bottom: 0 !important
}

.pix-payment-info ul>li+li {
    margin-top: 3px
}

.pix-payment-info ul > li::before, .pix-payment-info ul>li::after {
    display: none !important
}

.expiration-notice {
    color: #666;
    margin-bottom: 5px;
    text-align: center
}

.catalogsearch-result-index .header-page.fixed .header-menu #header-nav .account-cart-wrapper .skip-cart * {
    color: #fff
}

@media (max-width: 768px) {
    .category-classic #header-cart {
        top:101px
    }
}

@media (max-width: 768px) {
    .category-classic .header-page.fixed #header-cart {
        top:96px
    }
}

@media (max-width: 768px) {
    .category-futebol #header-cart {
        top:105px
    }
}

@media (max-width: 768px) {
    .category-futebol .header-page.fixed #header-cart {
        top:101px
    }
}

.header-page.wtennis {
    top: 0;
    position: initial
}

.size-filters-wrapper {
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9
}

@media (min-width: 768px) {
    .size-filters-wrapper {
        display:flex
    }
}

.size-filters-wrapper .title-mobile {
    width: 100%;
    color: #333276;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px
}

@media (min-width: 768px) {
    .size-filters-wrapper .title-mobile {
        display:none
    }
}

.size-filters-wrapper .title-mobile .icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background-size: 30px auto;
}

.size-filters-wrapper .content {
    display: flex;
    align-items: center
}

.size-filters-wrapper .title {
    font-weight: 700;
    padding-right: 10px
}

.text {
    display: none;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 768px) {
    .size-filters-wrapper .title .text {
        display:inline-block
    }
}

.size-filters-wrapper .title .icon-right-arrow-desktop {
    width: 29px;
    height: 29px;
    display: none;
    vertical-align: middle;
    background-size: 29px auto;
    animation: arrow 1s ease-in-out infinite;
    background-image: url("https://skin.wtennis.com.br/frontend/wtennis/default/images/size-filter/icon-arrow.svg")
}

@media (min-width: 768px) {
    .size-filters-wrapper .title .icon-right-arrow-desktop {
        display:inline-block
    }
}

.size-filters-wrapper .carousel {
    display: flex;
    min-height: 0.01%;
    overflow-x: auto;
    align-items: center
}

.size-filters-wrapper .carousel .item {
    width: 100%;
    min-height: 1px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.size-filters-wrapper .carousel .item>a {
    color: #333;
    display: flex;
    line-height: 1;
    font-size: 15px;
    padding: 6px 8px;
    font-weight: 700;
    border-radius: 4px;
    white-space: nowrap;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    justify-content: center;
    transition: all 0.15s ease-in-out
}

.size-filters-wrapper .carousel .item>a:hover {
    color: #1abc9c;
    border-color: #1abc9c
}

@keyframes arrow {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(8px)
    }
}

/*  */
.footer {
    border-top: 4px solid #ec1922
}

.footer .footer-contacts {
    padding: 15px 0;
    background-color: #333276
}

@media (min-width: 768px) {
    .footer .footer-contacts {
        margin-bottom:30px
    }
}

.footer .footer-contacts .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.footer .footer-contacts .container::before, .footer .footer-contacts .container::after {
    display: table;
    content: " "
}

.footer .footer-contacts .container::after {
    clear: both
}

@media (min-width: 768px) {
    .footer .footer-contacts .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .footer .footer-contacts .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .footer .footer-contacts .container {
        width:1170px
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer .footer-contacts .container {
        width:95%
    }
}

.footer .footer-contacts .container .row {
    margin-left: -15px;
    margin-right: -15px
}

.footer .footer-contacts .container .row::before, .footer .footer-contacts .container .row::after {
    display: table;
    content: " "
}

.footer .footer-contacts .container .row::after {
    clear: both
}

.footer .footer-contacts .container .row .grid {
    float: left;
    min-height: 1px;
    position: relative
}

.footer .footer-contacts .container .row .grid.social, .footer .footer-contacts .container .row .grid.blog {
    width: 25%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px
}

@media (max-width: 669px) {
    .footer .footer-contacts .container .row .grid.social, .footer .footer-contacts .container .row .grid.blog {
        width:50%;
        padding-bottom: 15px
    }
}

.footer .footer-contacts .container .row .grid.atendimento {
    width: 50%;
    color: #fff;
    text-align: center
}

@media (max-width: 669px) {
    .footer .footer-contacts .container .row .grid.atendimento {
        width:100%;
        padding-top: 15px;
        border-top: 1px solid #42419a
    }
}

@media (min-width: 767px) {
    .footer .footer-contacts .container .row .grid.atendimento i, .footer .footer-contacts .container .row .grid.atendimento div {
        display:table-cell
    }
}

.footer .footer-contacts .container .row .grid.atendimento i {
    display: none
}

.footer .footer-contacts .container .row .grid.atendimento div {
    display: inline-block
}

.footer .footer-contacts .container .row .grid a {
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.footer .footer-contacts .container .row .grid a:hover {
    text-decoration: none;
    color: #5655a1
}

.footer .footer-contacts .container .row .grid i {
    font-size: 2em;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle
}

@media (min-width: 768px) {
    .footer .footer-contacts .container .row .grid i {
        font-size:2.5em
    }
}

.footer .footer-contacts .container .row .grid div {
    font-size: 0.78571429em;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle
}

.footer .footer-contacts .container .row .grid div span, .footer .footer-contacts .container .row .grid div a {
    font-size: 0.92857143em;
    padding: 0 6px;
    display: table-cell;
    vertical-align: middle
}

.footer .footer-contacts .container .row .grid div span.phone, .footer .footer-contacts .container .row .grid div a.phone {
    font-size: 1.21428571em;
    font-weight: 700
}

@media (min-width: 992px) {
    .footer .footer-contacts .container .row .grid div span, .footer .footer-contacts .container .row .grid div a {
        font-size:0.85714286em
    }

    .footer .footer-contacts .container .row .grid div span.phone, .footer .footer-contacts .container .row .grid div a.phone {
        font-size: 2em
    }

    .footer .footer-contacts .container .row .grid div span:first-child, .footer .footer-contacts .container .row .grid div a:first-child {
        display: table-cell
    }
}

@media (min-width: 768px) {
    .footer .footer-contacts .container .row .grid div {
        font-size:1em
    }
}

.footer .footer-info {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06)
}

.footer .footer-info .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.footer .footer-info .container::before, .footer .footer-info .container::after {
    display: table;
    content: " "
}

.footer .footer-info .container::after {
    clear: both
}

@media (min-width: 768px) {
    .footer .footer-info .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .footer .footer-info .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .footer .footer-info .container {
        width:1170px
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer .footer-info .container {
        width:95%
    }
}

.footer .footer-info .container .row {
    margin-left: -15px;
    margin-right: -15px
}

.footer .footer-info .container .row::before, .footer .footer-info .container .row::after {
    display: table;
    content: " "
}

.footer .footer-info .container .row::after {
    clear: both
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer .footer-info .container .row {
        margin-left: -10px;
        margin-right: -10px
    }
}

.footer .footer-info .container .row .grid_3 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    float: left;
    min-height: 1px;
    position: relative
}

@media (min-width: 480px) {
    .footer .footer-info .container .row .grid_3 {
        width:50%
    }
}

@media (min-width: 768px) {
    .footer .footer-info .container .row .grid_3 {
        width:25%
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer .footer-info .container .row .grid_3 {
        padding-left:10px;
        padding-right: 10px
    }
}

.footer .footer-info .container .row .grid_3 .title {
    font-size: 0.85714286em;
    color: #333276;
    font-weight: 900;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    text-transform: uppercase
}

@media (min-width: 1200px) {
    .footer .footer-info .container .row .grid_3 .title {
        font-size:1em
    }
}

.footer .footer-info .container .row .grid_3 .title i {
    top: -3px;
    left: -30px;
    font-size: 1.57142857em;
    position: absolute
}

@media (min-width: 1200px) {
    .footer .footer-info .container .row .grid_3 .title i {
        font-size:1.71428571em
    }
}

@media (max-width: 910px) {
    .footer .footer-info .container .row .grid_3 .title i {
        display:none
    }
}

.footer .footer-info .container .row .grid_3 .title * {
    margin: 0 1px;
    display: inline-block;
    vertical-align: middle
}

.footer .footer-info .container .row .grid_3 .block-content ul {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.footer .footer-info .container .row .grid_3 .block-content ul a {
    color: #505050;
    font-size: 0.85714286em
}

.footer .footer-info .container .row .grid_3 .block-content ul a:hover {
    color: #333276
}

.footer .footer-info .container .row .grid_3 .block-content .images {
    text-align: center
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe {
    width: 100%;
    float: none;
    font-size: 1em
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe label {
    font-size: 0.85714286em;
    max-width: 100%;
    margin-bottom: 2px;
    display: inline-block
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box {
    display: table;
    position: relative;
    border-collapse: separate
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .input-text {
    z-index: 2;
    float: left;
    width: 100%;
    position: relative;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .input-text:focus {
    border-color: #02966d
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .input-text:focus.validation-failed {
    border-color: #ed1b24
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .actions {
    width: 1%;
    font-size: 0;
    position: relative;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .actions button {
    border-color: #02966d;
    background-color: #02966d;
    padding: 6px 10px;
    margin-left: -1px;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .actions button:hover {
    border-color: #014b36;
    background-color: #014b36
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .actions button:hover {
    border-color: #1abc9c;
    background-color: #1abc9c
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .input-box .validation-advice {
    top: 35px;
    color: #ed1c24;
    font-size: 0.71428571em;
    position: absolute
}

.footer .footer-info .container .row .grid_3.newsletter-facebook .block-subscribe .recaptcha {
    margin-top: 20px
}

.footer .footer-info .container .row .grid_3.formas-pagamento-certificados .formas-pagamento .block-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.footer .footer-info .container .row .grid_3.formas-pagamento-certificados .formas-pagamento .block-content .block {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.footer .footer-info .container .row .grid_3.formas-pagamento-certificados .formas-pagamento .images div {
    margin: 0 3px
}